@font-face {
    font-family: "TsangerYuYangT-W01";
    src: url("../fonts/cn/TsangerYuYangT-W01.woff2") format("woff2"),
         url("../fonts/cn/TsangerYuYangT-W01.woff") format("woff"),
         url("../fonts/cn/TsangerYuYangT-W01.ttf") format("truetype"),
         url("../fonts/cn/TsangerYuYangT-W01.eot") format("embedded-opentype"),
         url("../fonts/cn/TsangerYuYangT-W01.svg") format("svg"),
         url("../fonts/cn/TsangerYuYangT-W01.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Neoneon-2";
    src: url("../fonts/en/Neoneon-2.woff2") format("woff2"),
         url("../fonts/en/Neoneon-2.woff") format("woff"),
         url("../fonts/en/Neoneon-2.ttf") format("truetype"),
         url("../fonts/en/Neoneon-2.eot") format("embedded-opentype"),
         url("../fonts/en/Neoneon-2.svg") format("svg"),
         url("../fonts/en/Neoneon-2.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, input, textarea, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: normal;
    vertical-align: baseline;
    font-family: "TsangerYuYangT-W01", "Neoneon-2", "PingFang SC","HiraginoSansGB-W3", "STHeitiSC-Light", "Microsoft YaHei", SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif;
    /*苹果的字体渲染方法*/
    -webkit-font-smoothing: antialiased;
    /*盒模型 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-appearance: none!important;
}

html{
    font-size: 100px;
}
body{
    font-size: 0.14rem;
}

ul,li{
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

.clearfix {
    *zoom: 1;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
}

.hidden{
    display: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}